<h1>Create user form</h1>
<form [formGroup]="userForm">

    <label>Name:</label>
    <input type="text" formControlName="name">
    <div class="error" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p class="field" *ngIf="userForm.get('name')?.errors?.['required']">*This field is required</p>
        <p class="minlength" *ngIf="userForm.get('name')?.errors?.['minlength']">Min 3 chars required</p>
        <p class="maxlength" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 chars required</p>

    </div>
    <br>

    <label>Phone:</label>
    <input type="number" formControlName="phone">
    <div class="error" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p class="field" *ngIf="userForm.get('phone')?.errors?.['required']">*This field is required</p>
        <p  *ngIf="userForm.get('phone')?.errors?.['min']">phone no should be min 10 digits</p>
        <p  *ngIf="userForm.get('phone')?.errors?.['max']">phone no max 10 digits</p>
    </div>
    <br>

    <label>DOB:</label>
    <input type="date" formControlName="dob">
    <br>

    <h2>address</h2>
    <div formGroupName="address">

        <label>City:</label>
        <input type="text" formControlName="city">
        <br>

        <label>Pin</label>
        <input type="number" formControlName="pin">
        <div class="error" *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
            <p class="field" *ngIf="userForm.get('address')?.get('pin')?.errors?.['required']">Pin is required</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['min']">Pin should be contain min 6 digits</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['max']">Pin should contain max 6 digits</p>
            
        </div>
        <br>

    </div>

    <button (click)="add()">add card</button>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray?.controls; let i = index">
            <div formGroupName="{{i}}">
                <input type="text" formControlName="name" placeholder="name">
                <br>
                <input type="text" formControlName="expiry" placeholder="expiry">
                <br>
                <input type="text" formControlName="cvv" placeholder="cvv">
                <div class="error" *ngIf="cardsFormArray.controls[i].get('cvv')?.touched && cardsFormArray.controls[i].get('cvv')?.invalid">
                    <p *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['required']">cvv is required</p>
                    <p *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['min']">cvv min 3 digits</p>
                    <p *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['max']">cvv max 3 digits</p>

                </div>
                <button class="btn btn-danger"(click)="delete(i)">delete</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayscholar">
    <label>day scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label>residential</label>
    <br>

    <div *ngIf="userForm.get('type')?.value == 'dayscholar'">
        <label>bus fee</label>
        <input type="number"formControlName="busfee">
        <br>
    </div>
   
    <div *ngIf="userForm.get('type')?.value == 'residential'">
        <label>hostel fee</label>
        <input type="number"formControlName="hostelfee">
        <br>
    
    </div>
 

    <button (click)="submit()" >submit</button>

    





</form>
