<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="event-binding">event-binding</h6>
        <h6 routerLink ="two-way-binding">two-way-binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="event-registration">event-registration</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="cube">cube</h6>
        <h6 routerLink="employee-registration">employee-registration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">bank</h6>
        <h6 routerLink="vehicle">vehicle</h6>
        <h6 routerLink="post">post</h6>
        <h6 routerLink="flipkart">flipkart</h6>
        <h6 routerLink="mail">mail</h6>
        <h6 routerLink="create-account">create Account</h6>
        <h6 routerLink="create-user">create-user</h6>
        
       
       
        
    
        <button routerLink="/login">logout</button>
        
        
        

    </div>
    <div class="right">
<router-outlet></router-outlet>
    </div>
</div>

